/**
 *	CSS for the project, using LESS
 */
/**
 *	Colors
 */
html,
body {
  font-family: "Myriad", "Myriad Pro", "Arial", "sans-serif";
  font-size: 21px;
}
html .centered,
body .centered {
  display: block;
  margin: 0 auto;
}
html .centered-text,
body .centered-text {
  text-align: center;
}
html a.button,
body a.button {
  width: 100px;
  height: 23px;
  padding: 2px 10px;
  border-radius: 3px;
  border: 1px solid #dedede;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#41709f), to(#4793bb));
  color: #090d46 !important;
  text-decoration: none;
}
html a.button:hover,
body a.button:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4793bb), to(#41709f));
}
/**
 *	Styles for containers
 */
html,
body {
  height: 100%;
  margin: 0;
}
html #viewport,
body #viewport {
  position: relative;
  width: 1024px;
  height: 600px;
  overflow: hidden;
}
html #viewport div,
body #viewport div {
  overflow: hidden;
}
html #buttons,
body #buttons {
  position: absolute;
  bottom: 0;
  left: 0;
}
html #buttons a,
body #buttons a {
  background-position: 0 0;
  background-repeat: none;
  display: block;
  float: left;
  width: 40px;
  height: 38px;
  margin: 5px;
}
html #buttons a.reload,
body #buttons a.reload {
  background-image: url('../images/reload.png');
}
html #buttons a.reload.loading,
body #buttons a.reload.loading {
  background-image: url('../images/reloading.gif');
}
html #buttons a.add,
body #buttons a.add {
  background-image: url('../images/add.png');
  width: 38px;
  height: 38px;
  display: none;
}
html #messages,
body #messages {
  position: absolute;
  z-index: 200;
}
html #messages strong,
body #messages strong {
  margin-right: 10px;
}
html #messages div,
body #messages div {
  position: relative;
  display: none;
  width: 994px;
  padding: 8px 5px;
  margin: 2px 10px;
  border-radius: 5px;
  border: 1px solid #dedede;
}
html #messages div.error,
body #messages div.error {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c69930), to(#9a7430));
  color: #321d0e;
}
html #messages div.success,
body #messages div.success {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9cbc9a), to(#689f6d));
  color: #203a1e;
}
html #messages div.message,
body #messages div.message {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4793bb), to(#41709f));
  color: #090d46;
}
html #messages div a.close,
body #messages div a.close {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  color: #dedede;
  text-decoration: none;
}
html #info,
body #info {
  background: #c4cfcf;
  width: 460px;
  height: 600px;
  float: left;
  overflow-y: auto;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.3);
  padding: 0 20px;
  font-size: 18px;
  line-height: 23px;
}
html #info h1,
body #info h1 {
  font-size: 21px;
  line-height: 21px;
  font-weight: normal;
  color: #3c3434;
}
html #info dl dt,
body #info dl dt {
  width: 100px;
  text-align: right;
  clear: both;
  color: #918b8b;
  float: left;
}
html #info dl dd,
body #info dl dd {
  width: 350px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #3c3434;
  float: left;
  margin-left: 10px;
}
html #info dl dd:last-child,
body #info dl dd:last-child {
  margin-bottom: 20px;
}
html #info dl:after,
body #info dl:after {
  clear: both;
}
html #info span.date,
body #info span.date {
  display: block;
  float: right;
  clear: both;
  color: #918b8b;
}
html #info p,
body #info p {
  clear: both;
}
/**
 *	List styles :D
 */
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
ul li a {
  display: block;
  line-height: 40px;
  height: 40px;
  text-decoration: none;
  font-size: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#lists {
  background: #3c3434;
  width: 124px;
  height: 600px;
  float: left;
  overflow-y: auto;
}
#lists ul li {
  position: relative;
  -webkit-transition: background 0.5s ease-out;
}
#lists ul li .number {
  position: absolute;
  text-align: right;
  width: 124px;
  height: 34px;
  font-size: 34px;
  line-height: 34px;
  padding: 3px 0;
  font-weight: bold;
  color: #1e0909;
}
#lists ul li .number:before,
#lists ul li .number:after {
  position: absolute;
  right: -1px;
  height: 34px;
  padding: 3px 0;
  content: attr(title);
  color: rgba(255, 255, 255, 0.05);
}
#lists ul li .number:before {
  top: 1px;
  left: 1px;
}
#lists ul li .number:after {
  top: 2px;
  left: 2px;
}
#lists ul li a {
  width: 108px;
  padding: 0 8px;
  color: #dedede;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  z-index: 10;
  position: relative;
}
#lists ul li.selected {
  background: #393d3e;
}
#lists ul li.selected a {
  box-shadow: 0px 0 5px rgba(0, 0, 0, 0.3);
}
#list {
  background: #dedede;
  width: 400px;
  height: 600px;
  float: left;
  overflow-y: auto;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.3);
}
#list ul li span.priority {
  display: block;
  float: left;
  width: 10px;
  height: 39px;
  border-bottom: 1px solid #dedede;
  margin-right: 5px;
}
#list ul li span.priority-1 {
  background: #ea5200;
}
#list ul li span.priority-2 {
  background: #0060bf;
}
#list ul li span.priority-3 {
  background: #359aff;
}
#list ul li a {
  width: 400px;
  height: 39px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: #3c3434;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: background 0.5s ease-out;
}
#list ul li.selected a {
  background: #c4cfcf;
  box-shadow: 0px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
  position: relative;
}
#list ul li.is-due {
  font-weight: bold;
}
#list ul li span.task {
  display: block;
  float: left;
  width: 325px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#list ul li span.due-date {
  display: block;
  float: right;
  width: 55px;
  height: 15px;
  text-align: right;
  font-size: 15px;
  line-height: 15px;
  padding: 12px 5px 13px 0;
}
#modals {
  position: absolute;
  z-index: 400;
  background: rgba(0, 0, 0, 0.3);
  width: 1024px;
  height: 600px;
  display: none;
}
#modals .modal {
  position: relative;
  top: 140px;
  margin: 0 auto;
  padding: 10px;
  width: 600px;
  height: 300px;
  background: #3c3434;
  color: #dedede;
  border-radius: 5px;
}
#modals .modal a {
  color: #4793bb;
}
